body{
    margin: 0;
}

nav{
    background-color: black;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
}
a:hover{
    color: gold;
}